@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
html {
    background-color: #FFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #5a4974;
    background-color: #FFF;
    background-size: 90%;
    font-size: 12px;
}

.header {
    color: #5a4974;
    height: 100px;
}

.b-index {
    background-image: url(http://solanas.com.ar/img/linea.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFF;
}

footer {
    height: 160px;
    width: 100%;
    background-color: #FFF;
    color: #5a4974;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-y: 9px;
}

.nav-link {
    color: #5a4974;
    font-weight: 700;
}

.instayface {
    position: relative;
    top: 60px;
}

@media screen and (max-width: 930px) {
    .textosBajoImagen {
        position: relative;
        top: 5px;
    }
}

@media screen and (max-width: 800px) {
    #staff-p {
        font-size: 11px;
    }
}

.float {
    text-decoration: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 140px;
    min-width: 300px;
    font-weight: 600;
    background-color: #5a4974;
    color: #FFF;
    border-radius: 35px;
    border: 3px solid #f3f2f5;
    text-align: center;
    font-size: 20px;
    box-shadow: 3px 3px 3px #999;
    z-index: 100;
}

main {
    height: 400px;
    font-size: 14px;
}

#b-index {
    height: 1020px;
}

#rehab-image {
    left: 100px;
    position: relative;
}

@media screen and (max-width: 700px) {
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        padding: 0;
        background-color: #5a4974;
        color: #FFF;
        border-radius: 100px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
        min-width: 50px;
    }
    #rehab-image {
        left: 8px;
    }
    #img-fono {
        left: -14px;
    }
    .float svg {
        margin: 15px 4px 1px 13px;
    }
    .texto {
        display: none;
    }
    .bi {
        width: 28px;
        height: 23px;
        position: relative;
        float: left;
    }
    .bi-facebook,
    .bi-instagram {
        width: 81px;
        height: 54px;
    }
    .imagencentral {
        padding: 88px 0 0 0;
    }
    .b-index {
        height: 800px;
    }
    .b-index {
        background-position-y: 60%;
    }
    .textosBajoImagen {
        position: relative;
    }
    #body-estudios {
        height: 1000px;
    }
    #body-rehab {
        height: 883px;
    }
    #body-contacto {
        height: 1079px;
    }
    #body-neuro {
        height: 761px;
    }
    #body-terapia {
        height: 900px;
    }
    #body-fono {
        height: 727px;
    }
    body {
        height: 1000px;
    }
    #footer-estudios {
        bottom: -212px;
    }
    #footer-clinica {
        bottom: -329px;
    }
    #footer-neuro,
    #footer-rehab,
    #footer-fono {
        bottom: -65px;
    }
    #footer-contacto {
        bottom: -421px;
    }
    #footer-staff {
        bottom: -271px;
    }
    #footer-terapia {
        bottom: -195px;
    }
    footer {
        bottom: 101px;
        position: relative;
        background-image: none;
        height: 40px;
    }
}

.bi-facebook,
.bi-instagram,
.violeta {
    color: #5a4974;
}