        @media screen and (max-width: 700px) {
            body {
                background-position-y: 110px;
            }
            footer {
                z-index: 4;
                height: 220px;
                position: fixed;
                background-image: url(../img/fondofooter.png);
                background-repeat: no-repeat;
                background-size: 207%;
                background-position-x: -135px;
                background-position-y: 110px;
                bottom: 0px;
                width: 100%;
            }
            .imagensolana {
                margin: auto;
                position: relative;
                top: 98px;
                width: 100%;
            }
            .imagenturnos {
                position: relative;
                top: 154px;
                right: -25px;
                width: 286px;
            }
            .redSocial {
                top: 67px;
                width: 20%;
                position: relative;
                left: 110px;
                margin: 0;
            }
            .filaImagenContacto {
                position: relative;
                left: 118px;
                top: -60px;
            }
            iframe {
                border: solid #9cac84 3px;
                position: relative;
                width: 92%;
                top: -28px;
                height: 250px;
            }
        }