@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html {
    background-color: #FFF;
}

header {
    height: 20%;
}

main {
    position: relative;
    height: 500px;
    z-index: 6;
    background-color: transparent;
}

body {
    z-index: 5;
    font-family: 'Montserrat', sans-serif;
    color: #5a4974;
    position: relative;
    font-size: 14px;
    background-image: url(../img/linea.png);
    background-repeat: no-repeat;
    background-size: 117%;
    background-position-y: -112px;
}

footer {
    z-index: 4;
    height: 220px;
    position: fixed;
    background-image: url(../img/fondofooter.png);
    background-repeat: no-repeat;
    background-size: 123%;
    background-position-x: -30px;
    background-position-y: 13px;
    bottom: 0px;
    width: 100%;
}

.nav-link {
    color: #5a4974;
    font-weight: 700;
}

.prehead {
    background-color: #9cac84;
    height: 20px;
}

.nav-item a {
    height: 55px;
}

.mediovertical {
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
}

.fuentepeque {
    font-size: 10px;
}

.imagensolana {
    margin: auto;
    position: relative;
    top: 98px;
    width: 62%;
}

.imagenturnos {
    position: fixed;
    top: 550px;
    right: 187px;
    width: 350px;
}

.redSocial {
    top: 120px;
    width: 5%;
    position: relative;
    left: 70px;
    margin: 0;
}

.imagen {
    width: 71%;
    position: relative;
    top: 53px;
    left: -33px;
    margin: 0 0 15px 0;
}

.textosBajoImagen {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    bottom: -13px;
}

iframe {
    border: solid #9cac84 3px;
    position: relative;
    top: 63px;
}

@media screen and (max-width: 1200px) {
    .imagenturnos {
        position: fixed;
        top: 477px;
        right: 129px;
        width: 352px;
    }
}

.datos_medicos li {
    list-style-type: none;
}

.medicosderecha {
    position: relative;
    top: 10px;
    right: 90px;
}

.todasTablasStaff {
    position: relative;
    left: 80px;
}

.imagenStaff {
    width: 78%;
}

.textoBajoImagenStaff {
    position: relative;
    bottom: 18px;
}

.imagenNeurologia {
    position: relative;
    width: 80%;
    top: 30px;
    left: 200px;
}

.subrayadoMatricula {
    border-bottom: solid 1px;
}

.todoEstudios {
    position: relative;
    left: 80px;
    bottom: 40px;
}

.imagenrehabNeurologia {
    position: relative;
    width: 80%;
    top: 20px;
    left: 190px;
}

.columnaTextoRehab {
    position: relative;
    top: 100px;
    right: 60px;
}

.img-fono {
    position: relative;
    left: 185px;
    width: 90%;
}

.imagen {
    width: 71%;
    position: relative;
    top: 79px;
    left: -85px;
    margin: 0 0 15px 0;
}

.textosBajoImagen {
    position: relative;
    font-size: 14px;
    right: 97px;
    font-weight: bold;
    bottom: -27px;
}

iframe {
    border: solid #9cac84 3px;
    position: relative;
    width: 100%;
    height: 340px;
}