        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
        body {
            font-family: 'Montserrat', sans-serif;
        }
        
        .textoVioleta {
            color: #5a4974;
        }
        
        nav {
            margin: auto;
            margin-top: 12px;
            padding-bottom: 1px;
            width: 85%;
            -webkit-box-shadow: 0 4px 6px -6px #222;
            -moz-box-shadow: 0 4px 6px -6px #222;
            box-shadow: 0 6px 9px -9px #222;
            font-size: 16px;
        }
        
        nav ul {
            background: white;
            text-align: center;
            list-style: none;
            overflow: hidden;
        }
        
        ul li {
            display: inline-block;
            transition: all ease-in-out 250ms;
            line-height: 15px;
            text-align: center;
            vertical-align: middle;
            font-family: 'Montserrat', sans-serif;
        }
        
        ul li a {
            font-family: 'Montserrat', sans-serif;
            color: #5a4974;
        }
        
        .hide {
            padding: 16px;
            font-size: 22px;
            background: #9cac84;
            color: white;
            cursor: pointer;
            display: none;
        }
        
        @media (max-width: 768px) {
            ul li {
                width: 100%;
                padding: 10px;
                text-align: left;
            }
            .hide {
                display: block;
            }
            nav ul {
                display: none;
            }
            .logo {
                width: 100%;
            }
        }
        
        .nav-link {
            color: #5a4974;
            font-weight: 500;
        }
        
        .prehead {
            background-color: #9cac84;
            height: 20px;
        }
        
        main {
            position: relative;
            z-index: 3;
            height: 420px;
            background-image: url(img/linea.png);
            background-repeat: no-repeat;
            background-size: 113%;
            background-position-y: -210px;
            background-position-x: -7px;
        }
        
        footer {
            height: 200px;
            position: fixed;
            z-index: 5;
            background-image: url(img/fondofooter.png);
            background-repeat: no-repeat;
            background-size: 103%;
            background-position-x: -30px;
            bottom: 0px;
            width: 100%;
        }
        
        .logo {
            width: 50%;
            margin-top: 50px;
        }
        
        .whatsappGrande {
            position: relative;
            width: 420px;
            right: -10px;
            bottom: 10px;
            height: 90px;
        }
        
        .imgredes {
            position: relative;
            left: 64px;
            width: 60px;
        }
        
        .vistopc {
            visibility: visible;
            position: relative;
        }
        
        .vistomobile {
            visibility: hidden;
        }
        /*  SECCIÓN STAFF  */
        
        .todasTablasStaff {
            position: relative;
            left: 84px;
        }
        
        .imagenStaff {
            position: relative;
            top: 5px;
            width: 68%;
        }
        
        .textoBajoImagenStaff {
            position: relative;
            left: -28px;
            bottom: 18px;
        }
        
        .medicosderecha {
            position: relative;
            top: 40px;
            right: 210px;
        }
        /* CSS SECCIÓN CONTACTO  */
        
        .imagenContacto {
            width: 40%;
            position: relative;
            top: 5px;
            right: -47px;
        }
        
        .textosBajoImagen {
            position: relative;
            font-size: 14px;
            right: -57px;
            font-weight: bold;
            line-height: 2;
            bottom: 67px;
        }
        
        iframe {
            position: relative;
            border: solid #9cac84 3px;
            height: 278px;
            top: -330px px;
            width: 450px;
            left: 636px;
        }
        /* FIN CSS SECCIÓN STAFF  */
        
        @media only screen and (min-width:320px) and (max-width:768px) {
            .btn-wsp {
                width: 63px;
                height: 63px;
                line-height: 66px;
            }
        }
        
        @media only screen and (max-width: 500px) {
            nav {
                margin-top: 0px;
                padding-bottom: 0px;
                margin-bottom: 50px;
                -webkit-box-shadow: 0 4px 6px -6px #222;
                -moz-box-shadow: 0 4px 6px -6px #222;
                box-shadow: 0 4px 6px -6px #222;
                font-size: 16px;
            }
            /*CONTACTO*/
            .imagenContacto {
                width: 90%;
                position: relative;
                top: -26px;
                right: -7px;
            }
            .textosBajoImagen {
                position: relative;
                font-size: 14px;
                line-height: 2;
                right: -15px;
                font-weight: bold;
                bottom: 40px;
            }
            iframe {
                margin: 0px 0 0px -3px;
                height: 166px;
                width: 90%;
                border: solid #9cac84 3px;
                position: relative;
                top: -44px;
                left: 22px;
            }
            /*FIN CONTACTO*/
            .vistopc {
                visibility: collapse;
            }
            .vistomobile {
                visibility: visible;
            }
            .textocontacto {
                color: #5a4974;
                font-size: 12px;
                line-height: 2;
                margin: 23px 0 0 19px;
            }
            .textocontacto img {
                width: 20px;
            }
            .btn-wsp {
                position: fixed;
                margin: 0 0 100px 0;
                width: 60px;
                height: 60px;
                line-height: 63px;
                bottom: 25px;
                right: 25px;
                background: #5a4974;
                color: #FFF;
                border-radius: 50px;
                text-align: center;
                font-size: 35px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
                z-index: 100;
                transition: all 300ms ease;
            }
            .btn-wsp:hover {
                background: #20ba5a;
            }
            .logo {
                margin: 111px 0 10px 0;
                width: 100%;
            }
            footer {
                position: relative;
                height: 100px;
                position: fixed;
                z-index: 1;
                background-color: #5a4974;
                background-image: none;
                width: 100%;
                margin-top: 0;
            }
            .posFooter {
                height: 20px;
                background-color: #9cac84;
            }
            .imgredesmobile {
                margin: 12px 10px 0 0;
                color: #9cac84;
            }
            .fuentefooter {
                color: #9cac84;
                margin-top: 6px;
                font-size: 12px;
            }
            .fondolinea {
                background-image: url(img/linea.png);
            }
            .datos_medicos li {
                list-style-type: none;
                font-size: 10px;
                padding: 0 0 0 0;
                margin: 1px 0 -13px 0;
            }
            .datos_medicos2 li {
                list-style-type: none;
                font-size: 10px;
                padding: 0 0 0 0;
                margin: 1px 0 -13px 0;
            }
            .imagenstaffa {
                visibility: hidden;
            }
            .medicosderecha {
                margin: -13px 0 0 0;
            }
        }
        
        .botonesFooter {
            position: relative;
            bottom: 78px;
            left: 183px;
        }
        
        .whatsappGrande {
            position: relative;
            width: 80%;
            float: right;
        }
        
        .whatsapp {
            height: 95px;
        }
        
        .botonesFooter {
            position: relative;
            bottom: -50px;
        }
        /* FIN CSS SECCIÓN CONTACTO  */
        
        @media only screen and (min-width:600px) {
            iframe {
                top: -330px;
                right: 0px;
                width: 450px;
            }
        }