@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html {
    background-color: #FFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #5a4974;
    background-color: #FFF;
    background-size: 90%;
    font-size: 16px;
}

main {
    height: 400px;
    font-size: 12px;
    z-index: 90;
    background-color: transparent;
}

.header {
    color: #5a4974;
    height: 100px;
}

.botones-redes {
    position: relative;
    top: 216px;
    left: 121px;
}

.b-index {
    background-image: url(http://solanas.com.ar/img/linea.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFF;
    background-position-y: 128px;
}

.nav-link {
    color: #5a4974;
    font-weight: 700;
}

.instayface {
    position: relative;
    top: 60px;
}

footer {
    background-position-x: -425px;
    z-index: 100;
    background-image: url(../img/ondaFONDO.png);
    background-position-y: 64px;
    height: 394px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 138%;
    align-self: flex-end;
}

header ul li {
    margin: 0 3px 0 3px;
    font-weight: 1100;
}

.imagenturnos {
    position: relative;
    float: right;
    margin-top: 229px;
    margin-right: -18px;
}

.prehead {
    background-color: #9cac84;
    height: 20px;
}

.fuentepeque {
    font-size: 12px;
}

#menu li {
    float: left;
    position: relative;
    right: 50%;
}

.nav-item a {
    height: 55px;
}

.mediovertical {
    line-height: 49px;
    text-align: center;
    vertical-align: middle;
}

.imagensolana {
    position: relative;
    width: 71%;
    top: 100px;
}

header ul li a {
    font: size 20px;
}

.botones-redes {
    position: relative;
    top: 234px;
    left: 28px;
}

iframe {
    border: solid #9cac84 7px;
    position: relative;
    top: 51px;
    right: 10px;
}

.imagen {
    width: 70%;
    position: relative;
    top: 53px;
    left: -33px;
}

.textosBajoImagen {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    bottom: -43px;
}

p {
    font-size: 16px;
}

li {
    list-style: none;
}

.ul2 {
    position: relative;
    top: 47px;
}

.imagenStaff {
    width: 80%;
    position: relative;
    right: -16px;
}